body {
    font-family: Arial, Helvetica, sans-serif;
}

.Todo-Input-Grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.Todo-Grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.Todo-Name,
.Todo-Date {
    padding: 6px;
    font-size: 15px;
}

.Todo-Button {
    border: none;
    background-color: green;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.Todo-Delete {
    border: none;
    background-color: darkred;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    font-size: 15px;
}